* {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  background-image: url("/img/fondo1,1.jpg");
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-thumb {
  background-color: #024296;
  border-radius: 10px;
}

.bot_menu {
  width: 30px;
  height: 30px;
  top: 15px;
  right: 0px;
  position: fixed;
  margin-top: 28px;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 9999999;
}
.bot_menu span {
  display: block;
  width: 100%;
  height: 2px;
  background: #fff9ee;
  box-shadow: 0 0 5px #83807a, 0 0 10px #cbcac8, 0 0 20px #9385ff;
  margin-top: 6px;
  transform-origin: 0px 100%;
  transition: all 300ms;
}

.activeline1_menu {
  transform: rotate(45deg) translate(-2px, 1px);
}

.activeline2_menu {
  opacity: 0;
  margin-left: -30px;
}

.activeline3_menu {
  transform: rotate(-45deg) translate(-4px, 2px);
}

.cont_header {
  display: flex;
  justify-content: space-between;
}
.cont_header .logo {
  margin-top: 10px;
}
.cont_header .logo img {
  filter: drop-shadow(0px 0px 5px #EBEBEB);
}
.cont_header .logo .foxficttion {
  width: 80px;
}
.cont_header .cont_menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: -23px;
  width: 720px;
  height: 50px;
  right: 0;
  margin-top: 20px;
  border-radius: 50px;
  background-color: rgba(156, 151, 151, 0.295);
  backdrop-filter: blur(150px);
  position: fixed;
  z-index: 99;
}
.cont_header .cont_menu .cont_menu2 ul {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.cont_header .cont_menu .cont_menu2 ul li {
  color: #fff9ee;
  text-shadow: 0 0 5px #83807a, 0 0 10px #cbcac8, 0 0 20px #9385ff;
}
.cont_header .cont_menu .cont_menu2 ul li::before {
  content: "";
}
.cont_header .cont_menu .cont_menu2 ul li a {
  color: #fff9ee;
  text-shadow: 0 0 5px #83807a, 0 0 10px #cbcac8, 0 0 20px #9385ff;
  text-decoration: none;
}
.cont_header .cont_menu .pre_login {
  color: #fff9ee;
  text-shadow: 0 0 5px #83807a, 0 0 10px #cbcac8, 0 0 20px #9385ff;
  display: flex;
  flex-direction: row;
  margin-left: 35px;
  margin-right: 35px;
  width: 200px;
  height: 25px;
  background-color: transparent;
  text-decoration: none;
  gap: 5px;
}
.cont_header .cont_menu .pre_login p {
  font-weight: bold;
  font-size: 20px;
}
.cont_header .cont_menu .pre_login .login_registrar {
  text-decoration: none;
  background-color: transparent;
  border-radius: 10px;
  color: #fff9ee;
  padding-left: 15px;
  width: 100px;
  height: 25px;
}
.cont_header .cont_menu .pre_login .login_ingresar {
  text-decoration: none;
  background-color: transparent;
  border-radius: 10px;
  color: #fff9ee;
  padding-left: 15px;
  width: 100px;
  height: 25px;
}

.cont_header .cont_menu.active {
  top: 0;
  right: 0;
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  width: 300px;
  margin-top: -0.1%;
  border-radius: 0;
  height: 100vh;
  box-shadow: 0 0 0 100vmax rgba(2, 2, 2, 0.447);
}
.cont_header .cont_menu.active .cont_menu2 ul {
  display: flex;
  flex-direction: column;
  padding-top: 25vh;
  margin-left: -70px;
  align-items: start;
  font-size: 20px;
}
.cont_header .cont_menu.active .pre_login {
  margin-top: -255px;
  margin-left: -40px;
}

@media screen and (max-width: 683px) {
  .cont_menu ul {
    margin-top: -230px;
    margin-left: -45px;
  }
  .cont_header .cont_menu.active {
    top: 0;
    right: 0;
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    width: calc(100% + 25px);
    margin-top: -0.1%;
    border-radius: 0;
    height: 100vh;
    box-shadow: 0 0 0 100vmax rgba(2, 2, 2, 0.447);
  }
}
@media screen and (max-width: 839px) {
  .logo img {
    display: none;
  }
}
.cont_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cont_main .home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 75px;
  height: 500px;
  width: 120px;
  left: 20px;
  top: 127px;
  background-color: rgba(174, 5, 5, 0.448);
  position: fixed;
}
.cont_main .homea {
  text-decoration: none;
}
.cont_main .home .home_nombre {
  margin-top: -50px;
  color: #fff9ee;
  text-shadow: 0 0 5px #83807a, 0 0 10px #cbcac8, 0 0 20px #9385ff;
}
.cont_main .home .home_capitulo {
  margin-top: -75px;
  color: #fff9ee;
  text-shadow: 0 0 5px #83807a, 0 0 10px #cbcac8, 0 0 20px #9385ff;
}
.cont_main .home .home_index {
  text-decoration: none;
  color: #fff9ee;
  text-shadow: 0 0 5px #83807a, 0 0 10px #cbcac8, 0 0 20px #9385ff;
}
.cont_main .home .home_configuracion {
  text-decoration: none;
  color: #fff9ee;
  text-shadow: 0 0 5px #83807a, 0 0 10px #cbcac8, 0 0 20px #9385ff;
}
.cont_main .home .home_megusta {
  text-decoration: none;
  color: #fff9ee;
  text-shadow: 0 0 5px #83807a, 0 0 10px #cbcac8, 0 0 20px #9385ff;
}
.cont_main .home .home_biblioteca {
  text-decoration: none;
  color: #fff9ee;
  text-shadow: 0 0 5px #83807a, 0 0 10px #cbcac8, 0 0 20px #9385ff;
}
.cont_main .lectura {
  display: flex;
  width: 75vw;
  background-color: rgba(24, 45, 49, 0.845);
  backdrop-filter: blur(2px);
  margin-top: 5vh;
  margin-left: 20px;
  min-height: 70vh;
}
.cont_main .lectura p {
  margin: 70px;
}
.cont_main .flechas {
  gap: 50px;
  margin-top: 20px;
  height: 80px;
}
.cont_main .flechas a {
  text-decoration: none;
  border: 2 solid red;
  font-size: 20px;
  width: 100px;
  height: 80px;
  margin: 20px;
  color: #fff9ee;
  text-shadow: 0 0 5px #83807a, 0 0 10px #cbcac8, 0 0 20px #9385ff;
}

@media screen and (max-width: 576px) {
  .cont_main .home {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
